<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-example:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_example_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-example/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-example" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: org.checkerframework:checker-qual:3.5.0" />
          <element id="library" level="project" name="Maven: org.postgresql:postgresql:42.3.2" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.15" />
        </element>
      </element>
    </root>
  </artifact>
</component>